:root {
    --color-primary-400: #42a5f5; /* 浅蓝色 */
    --color-primary-800: #1565c0; /* 深蓝色 */
    --background-color: #333;     /* 暗色背景 */
    --text-color: #fff;           /* 文字颜色 */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 字体 */
}

.header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: var(--background-color); /* 添加背景颜色 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.list {
    list-style: none; /* 去除默认的列表样式 */
    display: flex;
    gap: 2rem; /* 增加间隙 */
}

.list a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-family);
    padding: 0.5rem 0; /* 添加上下内边距 */
    transition: color 0.3s; /* 添加颜色变化的过渡效果 */
}

.list a:hover,
.list a.active {
    color: var(--color-primary-400);
    text-decoration: none; /* 移除下划线 */
}

/* 其他样式 */
